Library/
Temp/
*.csproj
*.sln
Assets/Test/
Assets/Test.meta
*.suo
*.pyc
*.pyc.meta
AssetBundles/
obj/
.DS_Store
build/
Logs/
.gradle/
.vs
.idea
GeneratedLocalRepo.meta
Assets/GeneratedLocalRepo
UserSettings/*

# Didomi will be extracted from zip file
Assets/Plugins/Didomi/*
Assets/Plugins/Didomi.meta
ProjectSettings/RiderScriptEditorPersistedState.asset
Assets/AddressableAssetsData/link.xml
Assets/AddressableAssetsData/link.xml.meta
.utmp/*
Assets/AddressableAssetsData/Android/addressables_content_state.bin
Assets/AddressableAssetsData/Android/addressables_content_state.bin.meta
Assets/AddressableAssetsData/WebGL/addressables_content_state.bin
Assets/AddressableAssetsData/WebGL/addressables_content_state.bin.meta
Assets/AddressableAssetsData/iOS/addressables_content_state.bin
Assets/AddressableAssetsData/iOS/addressables_content_state.bin.meta
Assets/Plugins/Android/FirebaseCrashlytics.androidlib/res/values/crashlytics_unity_version.xml
.vscode/*
